body {
  background-color: #f8f8f8;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes rainbow { 
    0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

@-webkit-keyframes rainbow-text {
  0%  { color: #ff2400 }
  12%  { color: #dd00f3 }
  25%  { color: #dd00f3 }
  37%  { color: #2b1de8 }
  50%  { color: #1ddde8 }
  62%  { color: #1de840 }
  75%  { color: #e3e81d }
  87%  { color: #e8b71d }
  100%  { color: #ff2400 }
}

@-moz-keyframes rainbow-text {
  0%  { color: #ff2400 }
  12%  { color: #dd00f3 }
  25%  { color: #dd00f3 }
  37%  { color: #2b1de8 }
  50%  { color: #1ddde8 }
  62%  { color: #1de840 }
  75%  { color: #e3e81d }
  87%  { color: #e8b71d }
  100%  { color: #ff2400 }
}

@-o-keyframes rainbow-text {
  0%  { color: #ff2400 }
  12%  { color: #dd00f3 }
  25%  { color: #dd00f3 }
  37%  { color: #2b1de8 }
  50%  { color: #1ddde8 }
  62%  { color: #1de840 }
  75%  { color: #e3e81d }
  87%  { color: #e8b71d }
  100%  { color: #ff2400 }
}

@keyframes rainbow-text {
  0%  { color: #ff2400 }
  12%  { color: #dd00f3 }
  25%  { color: #dd00f3 }
  37%  { color: #2b1de8 }
  50%  { color: #1ddde8 }
  62%  { color: #1de840 }
  75%  { color: #e3e81d }
  87%  { color: #e8b71d }
  100%  { color: #ff2400 }
}

@-webkit-keyframes rainbow-bg {
  0%   { background-color: #1ddde8 }
  12%  { background-color: #1de840 }
  25%  { background-color: #e3e81d }
  37%  { background-color: #e8b71d }
  50%  { background-color: #ff2400 }
  62%  { background-color: #dd00f3 }
  75%  { background-color: #dd00f3 }
  87%  { background-color: #2b1de8 }
  100% { background-color: #1ddde8 }
}
@-moz-keyframes rainbow-bg {
  0%   { background-color: #1ddde8 }
  12%  { background-color: #1de840 }
  25%  { background-color: #e3e81d }
  37%  { background-color: #e8b71d }
  50%  { background-color: #ff2400 }
  62%  { background-color: #dd00f3 }
  75%  { background-color: #dd00f3 }
  87%  { background-color: #2b1de8 }
  100% { background-color: #1ddde8 }
}
@-o-keyframes rainbow-bg {
  0%   { background-color: #1ddde8 }
  12%  { background-color: #1de840 }
  25%  { background-color: #e3e81d }
  37%  { background-color: #e8b71d }
  50%  { background-color: #ff2400 }
  62%  { background-color: #dd00f3 }
  75%  { background-color: #dd00f3 }
  87%  { background-color: #2b1de8 }
  100% { background-color: #1ddde8 }
}
@keyframes rainbow-bg {
  0%   { background-color: #1ddde8 }
  12%  { background-color: #1de840 }
  25%  { background-color: #e3e81d }
  37%  { background-color: #e8b71d }
  50%  { background-color: #ff2400 }
  62%  { background-color: #dd00f3 }
  75%  { background-color: #dd00f3 }
  87%  { background-color: #2b1de8 }
  100% { background-color: #1ddde8 }
}

h1, h2, h3, h4, h5, h6, p, ul, li, label, a, input, button {
  font-family: 'Roboto Slab', sans-serif;
}

p {
  line-height: 1.7;
}

h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.8em;
  color: #212D47;
}

dt p, dd p  {
  margin-bottom: 0.5em;
}
dd p:last-child {
  margin-bottom: 2em;
}
dt p::before {
  content: "Q: ";
}
dd p:first-child::before {
  content: "A: ";
  font-weight: bold;
}
dt p:first-child, dd p:first-child {
  text-indent: -1.25em;
}
dt p, dd p {
  margin-left: 1.25em;
}

.jumbotron {
  background-color: #212D47;
  color: white;
  margin-bottom: 0;
}
.jumbotron h3, .jumbotron .lead {
  color: white;
  text-shadow: 2px 2px black;
}
.lead {
  font-size: 2em;
}
.jumbotron .byline {
  color: #ddd;
}
.byline {
  margin-top: 0.5em;
}
.jumbo__headline {
  font-size: 5em;
  text-align: center;
  text-shadow: 4px 4px black;
}
#disable-stylesheets {
  color: white;
  text-decoration: underline;
}
.jumbo__headline--css {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  margin-left: 0.2em;
  color: white;
  letter-spacing: 0.15em;
  text-shadow:
    -4px  4px  #dd00f3,
    -8px  8px  #2b1de8,
    -12px 12px #1ddde8,
    -16px 16px #1de840,
    -20px 20px #e3e81d,
    -24px 24px #e8b71d,
    -28px 28px #e81d1d;
}
.jumbo__headline--quote {
  vertical-align: top;
  margin-left: -0.25em;
}
.btn-cta {
  padding: 0.5em 0.8em;
  font-size: 2em;
}

.rainbow-text:hover {
    -webkit-animation: rainbow-text 0.5s linear infinite;
  -z-animation: rainbow-text 0.5s linear infinite;
  -o-animation: rainbow-text 0.5s linear infinite;
    animation: rainbow-text 0.5s linear infinite;
}

.btn-rainbow {
  color: black;
  background: linear-gradient(90deg, #ff2400, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s linear infinite;
  -z-animation: rainbow 10s linear infinite;
  -o-animation: rainbow 10s linear infinite;
    animation: rainbow 10s linear infinite;
}
.btn-rainbow:hover {
  color: white;
  background: linear-gradient(90deg, #ff2400, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 0.5s linear infinite;
  -z-animation: rainbow 0.5s linear infinite;
  -o-animation: rainbow 0.5s linear infinite;
    animation: rainbow 0.5s linear infinite;
}
.btn-rainbow:active {
  background: #1ddde8;
}
.btn-shadow, .btn-rainbow {
  box-shadow:
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 3px 1px -2px rgba(0, 0, 0, .2),
  0 1px 5px 0 rgba(0, 0, 0, .12);
}
.card {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.navigation {
  text-align: center;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 2em 0;
}

.icon-list.card li {
  background: white;
  margin: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.icon-list li:first-child {
  margin-top: 0;
}
.icon-list li:last-child {
  border-bottom: none;
}
.icon-list li:last-child p {
  margin-bottom: 0;
}
.icon-list .icon-bullet {
  margin-top: 0.4em;
  margin-right: 0.7em;
  width: 1em;
  height: 1em;
  text-align: left;
}

.table-of-contents__list {
  padding-left: 8em;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.table-of-contents__list > li {
  margin: 0 0 0.5em 0;
  list-style: none;
  position: relative;
}
.chapter-label {
  color: #6c757d;
  position: absolute;
  right: 101%;
  text-align: right;
  width: 8em;
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-toggle::after {
  color: #6c757d;
  font-size: 0.75em;
  content: " (expand)";
}
.accordion-toggle.expanded::after {
  content: " (collapse)";
}
.accordion-content, .collapse-all {
  display: none;
}

.pricing-container {
  max-width: 1600px;
}
.pricing-img {
  height: 200px;
}
.pricing-img--single {
  height: 160px;
  margin: 20px auto;
}
.card-highlighted {
  border-color: #0e902c;
  border-width: 2px;
  position: relative;
}
.ribbon {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 1;
  overflow: hidden;
  width: 152px;
  height: 152px;
  text-align: right;
}
.ribbon span {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 200px;
  display: block;
  background: #0e902c;
  background: linear-gradient(#28a745 0%, #0e902c 100%);
  box-shadow: 0 3px 10px -5px #000000;
  position: absolute;
  top: 35px; right: -45px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-width: 8px;
  border-style: solid;
  border-left-color: #0e902c;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #0e902c;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-width: 8px;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: #0e902c;
  border-bottom-color: transparent;
  border-top-color: #0e902c;
}
.card-price {
  font-size: 2em;
}
.sale-strike {
  text-decoration: line-through;
  font-weight: normal;
}
.sale-label {
  display: block;
}
.sale-price {
  font-weight: bold;
}
.pricing-diff {
  font-weight: bold;
}
.buy-buttons a, .buy-buttons button {
  min-width: 9.3em;
  margin-bottom: 0.5em;
}

.modal-header {
  height: 0;
  border: none;
  padding-bottom: 0;
}
.modal-header .close {
  z-index: 1055;
}
.sample-book-img {
  height: 10em;
}

.emailLinkDirection {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.footer-section {
  background: #212D47;
  color: white;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Half Desktop */
@media (max-width: 1199px) { 
  .pricing-img--single {
    margin: 0;
  }
}

/* Tablet */
@media screen and (max-width: 991px) {
  .jumbo__headline--css {
    font-size: 1.7em;
  }
  .btn-cta {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .table-of-contents__list {
    width: 100%;
    padding-left: 0;
  }
  .chapter-label {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 575px) {
  .jumbo__headline-section {
    font-size: 0.6em;
  }
  .jumbo__headline--css {
    font-size: 1.7em;
    text-shadow:
      -2px  2px  #dd00f3,
      -4px  4px  #2b1de8,
      -6px  6px #1ddde8,
      -8px  8px #1de840,
      -10px 10px #e3e81d,
      -12px 12px #e8b71d,
      -14px 14px #e81d1d;
  }
  .btn-cta {
    font-size: 1rem;
  }
}
